body {
    margin: 0;
}

.material-icons.material-logo {
    vertical-align: bottom;
}
.fa {
    font-size: 0.9rem;
}
.btn-save {
    background-color: coral;
}
.material-truck {
    color:darkblue;
    vertical-align: baseline;
    font-size: large;
}
.badge-free {
    vertical-align: top;
}
.materialcart {
    font-size: 18px;
    vertical-align: middle;
}
.badge-active {
    vertical-align: baseline;
}
.material-launch {
    font-size: 17px;
    vertical-align: middle;
}
.material-edit {
    font-size: 18px;
    vertical-align: middle;
}
.btn-edit {
    vertical-align: bottom;
}
.banner {
    width: 100%;
    height: 250px;
    background: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
    background-position: bottom;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
